<%= link_to "View All Items", dashboard_items_path %>
Name: <%=@merchant.name %>
Address:
<%= render 'shared/address', user:@merchant %>
E-Mail: <%= @merchant.email %>

<div class=stats >
  <div id=popular-items>
    <ul>
      <%@top_merchant_items.each do |item|  %>
        <li class=item>
          <%= render 'shared/admin_item', item:item %>
        </li>
      <%end%>
    </ul>
  </div>

  <div id=percent-sold>
    <%= %> items sold, which is <%= %>% of your inventory
  </div>

  <div id=top-states>
    <% @top_states.each do |state|%>
      <li class=state>
        <%= state %>
      </li>
    <%end%>
  </div>

  <div id=top-cities>
    <% @top_cities.each do |city|%>
      <li class=city>
        <%= city.city%>, <%= city.state%>
      </li>
    <%end%>
  </div>

  <div id=top-user-orders>
    <%= @top_user_orders.name%>: <%= @top_users_orders.quantity%> orders
  </div>

  <div id=top-user-items>
    <%= @top_user_items.name%>: <%= @top_users_items.quantity%> items
  </div>

  <div id=top-users-money>
    <% @top_users_money.each do |user|%>
      <li class=user>
        <%=user.name %>: <%=number_to_currency(user.money) %>
      </li>
    <%end%>
  </div>
<div>

<%@orders.each do |order| %>
  <%= render 'shared/pending_order', order:order %>
<%end%>
