<main class="merchants-orders-index shadowed-box">
  <%= link_to "View All Items", dashboard_items_path %>
  <section class="profile">
    Name: <%=@merchant.name %><br>
    Address: <%= render 'shared/address', user:@merchant %><br>
    E-Mail: <%= @merchant.email %>
    <br>
    <%= link_to "Current Customer Data", dashboard_current_csv_path(format: :csv) %> <%= link_to "Potential Customer Data", dashboard_potential_csv_path(format: :csv) %>
  </section>

  <div class="merchant-stats" >
    <h3>Graphics</h3>
    <div id=graphics>
      <div class = pie-chart>
        <h4>Percent Sold</h4>
        <svg id=percent-sold></svg>
      </div>
      <div class = pie-chart>
        <h4>Top Cities</h4>
        <svg id=top-cities></svg>
      </div>
      <div class = pie-chart>
        <h4>Top States</h4>
        <svg id=top-states></svg>
        </div>
      <div class = line-graph>
        <h4>Revenue by Month</h4>
        <svg id=revenue></svg>
      </div>
    </div>
    <h3>Top Stats</h3>
    <ul class="top-stats">
    <li id="percent-sold">
      You have sold <%= @merchant.items_sold %> items, which is <%= @merchant.pct_sold %>% of your inventory
    </li>

    <% if @merchant.top_user_orders %>
    <li id="top-user-orders">
      <%= @merchant.top_user_orders.name %> has made the most orders with you, with <%= @merchant.top_user_orders.order_count %> orders
    </li>
    <% end %>

    <% if @merchant.top_user_items %>
    <li id="top-user-items">
      <%= @merchant.top_user_items.name %> has ordered the most items from you, with <%= @merchant.top_user_items.item_count %> items ordered
    </li>
    <% end %>
    </ul>

    <% if @merchant.top_items %><div id="popular-items">
      <ul>
        <h3>Top-performing Items</h3>
        <%@merchant.top_items.each do |item|  %>
        <li class="item"><%= render 'shared/admin_item', item:item %></li>
        <% end %>
      </ul>
    </div><% end %>

    <% if @merchant.top_states %><div id="top-states">
      <h3>Top States</h3>
      <ul>
      <% @merchant.top_states.each do |state|%>
        <li class="state">
          <%= state.state %>: <%= state.order_count %> orders
        </li>
      <% end %>
      </ul>
    </div><% end %>

    <% if @merchant.top_cities %><div id="top-cities">
      <h3>Top Cities</h3>
      <ul>
      <% @merchant.top_cities.each do |city|%>
        <li class="city">
          <%= city.city %>, <%= city.state %>: <%= city.order_count %> orders
        </li>
      <% end %>
      </ul>
    </div><% end %>

    <% if @merchant.top_users_money %><div id="top-users-money">
      <h3>Highest Spending Customers</h3>
      <% @merchant.top_users_money.each do |user|%>
        <li class="user">
          <%= user.name %>: <%= number_to_currency(user.revenue) %>
        </li>
      <% end %>
    </div><% end %>
  </div>

  <h2>Current Orders</h2>
  <section class="data-table order-list">
  <% @orders.each do |order| %>
    <%= render 'shared/pending_order', order:order %>
  <% end %>
  </section>
</main>
