<main class="merchants-orders-show shadowed-box">
  <section class="data-table order-list">
  <% @items.each do |item| %>
    <section class="table-row" id="ordered-item-<%= item.id %>">
      <span class="item-name"><%= link_to "#{item.name}", item_path(item) %></span>
      <span class="item-price">Price: <%= number_to_currency(item.current_price) %></span>
      <span class="item-quantity">Quantity ordered: <%= item.amount_ordered(@order) %></span>
      <span class="item-fulfillment">
      <% if item.fulfilled?(@order) %>
        This item has been fulfilled
      <% else %>
        <% if item.not_enough?%>
          You do not have enough <%= item.name %> to fulfill this order, please update your stock
        <% else %>
          <%= link_to "Fullfill this item", fulfill_item_path(@order, item), method: :patch %>
        <% end %>
      <% end %>
      </span>
    </section>
  <% end %>
  </section>
</main>
