<main class="login-form">
  <%= form_tag login_path, url: {action: 'create'}, class: "login-form" do %>
    <%= label_tag :email %>
    <%= text_field_tag :email %>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
    <%= submit_tag 'Log In' %>
  <% end %>
</main>
