<main class="profile-orders-index shadowed-box">
  <% @orders.each do |order| %>
    <section class="table-row user-orders" id="order-<%= order.id %>">
    <span class="order-id"><%= link_to "Order ID: #{order.id}", profile_order_path(order) %></span>
    <span class="order-status">Order Status: <%= order.status %></span>
    <span class="order-quantity">QTY of Items: <%= order.total_count %></span>
    <span class="order-total">Grand Total: <%= number_to_currency(order.total_cost) %></span>
    <span class="order-placed">Order Placed: <%= order.created_at.strftime("%m/%d/%Y") %></span>
    <span class="order-updated">Last Updated: <%= order.updated_at.strftime("%m/%d/%Y") %></span>
    </section>
  <% end %>
</main>
