
<%= form_for @user do |f| %>
<p>
  <%= f.label :name %>
  <%= f.text_field :name , value: params[:name]%>
</p>
<p>
  <%= f.label :street_address, "Street Address" %>
  <%= f.text_field :street_address, value: params[:street_address]%>
</p>
<p>
  <%= f.label :city %>
  <%= f.text_field :city, value: params[:city] %>
</p>
<p>
  <%= f.label :state %>
  <%= f.text_field :state, value: params[:state] %>
</p>
<p>
  <%= f.label :zip_code, "Zip Code" %>
  <%= f.text_field :zip_code, value: params[:zip_code] %>
</p>
<p>
  <%= f.label :email, "E-Mail"%>
  <%= f.text_field :email, value: params[:email] %>
</p>
<p>
  <%= f.label :password%>
  <%= f.password_field :password %>
</p>
<p>
  <%= f.label :password_confirmation, "Confirm Password" %>
  <%= f.password_field :password_confirmation %>
</p>

<%= f.submit "Register New User" %>
<%end%>
