<main class="admin-merchant-index shadowed-box">
  <h1>All Merchants in the system</h1>

  <div id=graphics>
    <svg id=total-sales></svg>
  </div>
  <section class="data-table merchant-list">
  <% @merchants.each do |merchant| %>
    <section class="table-row" id="merchant-<%= merchant.id %>">
      <span class="merchant-name"><%= link_to "#{merchant.name}", admin_merchant_path(merchant) %></span>
      <span class="merchant-city">Located in <%= merchant.city %>, <%= merchant.state %></span>
      <span class="merchant-register-date">Joined the store on <%= merchant.created_at %></span>
      <% if merchant.enabled? %>
        <%= link_to "Disable this Merchant", admin_merchant_change_status_path(merchant), method: :patch, class: 'disable' %>
      <% elsif !merchant.enabled? %>
        <%= link_to "Enable this Merchant", admin_merchant_change_status_path(merchant), method: :patch, class: 'enable' %>
      <% end %>
    </section>
  <% end %>
  </section>
</main>
