<div class="order-row" id=<%="order-#{order.id}"%>>
  <span class="order-id"><%=link_to "Order: #{order.id}", admin_user_order_path(order.user, order)%></span>
  <span class="order-status"><%=order.status%></span>
  <span class="order-user"><%=link_to order.user.id, admin_user_path(order.user)%></span>
  <span class="order-creation"><%=order.created_at%></span>
  <div class="actions">
    <% if order.status == 'packaged' %>
    <%= button_to "Ship", admin_order_path(order, status:'shipped'), method: :patch %>
    <%end%>
  </div>
</div>
