<nav class="main-nav">
<%= link_to 'Home', root_path %>
<%= link_to 'Browse Items', items_path %>
<%= link_to 'View Merchants', merchants_path %>
<% if current_admin? %>
  <%= link_to 'Users', admin_users_path %>
<% end %>
<%= yield %>
</nav>
