<section id="order-info">
  <p>Order ID: <%= order.id %></p>
  <p>Order Status: <%= order.status %></p>
  <p>QTY of Items: <%= order.total_count %></p>
  <p>Grand Total: <%= order.total_cost %></p>
  <p>Order Placed: <%= order.created_at.strftime("%m/%d/%Y") %></p>
  <p>Last Updated: <%= order.updated_at.strftime("%m/%d/%Y") %></p>
  <% if order.pending? %>
    <%= button_to "Cancel Order" %>
  <% end %>
</section>

<% order.order_items.each do |line| %>
  <%= render 'shared/line_items', line:line %>
<% end %>
