<main class="merchants-index">
  <h1>All Merchants:</h1>


  <section class="merchant-stats shadowed-box">
    <section id="top-ten-this-month">
      <h3>Top 10 sellers this month</h3>
      <% @top_ten_sellers_this_month.each do |merchant| %>
        <li id="merchant"><%= merchant.name %></li>
      <% end %>
    </section>

    <section id="top-ten-last-month">
      <h3>Top 10 sellers last month</h3>
      <% @top_ten_sellers_last_month.each do |merchant| %>
        <li id="merchant"><%= merchant.name %></li>
      <% end %>
    </section>

    <section id="top-three-sellers">
      <h3>Top 3 Merchants by Revenue </h3>
      <% @top_three_sellers.each do |merchant| %>
        <li><%= merchant.name %>, making <%= number_to_currency(merchant.total_revenue)  %> in revenue</li>
      <% end %>
    </section>

    <section id="fastest-merchants">
      <h3>Fastest Merchants</h3>
      <% @fastest_three.each do |merchant| %>
        <li><%= merchant.name %> averages <%= merchant.average_time %> days to fill orders</li>
      <% end %>
    </section>

    <section id="slowest-merchants">
      <h3>Slowest Merchants</h3>
      <% @slowest_three.each do |merchant| %>
        <li><%= merchant.name %> averages <%= merchant.average_time %> days to fill orders</li>
      <% end %>
    </section>

    <section id="top-three-cities">
      <h3>Cities with Most Orders</h3>
      <% @top_three_cities.each do |user| %>
        <li><%= user.count_of_orders %> orders have been shipped to <%= user.city %></li>
      <% end %>
    </section>

    <section id="top-three-states">
      <h3>States with Most Orders</h3>
      <% @top_three_states.each do |user| %>
        <li><%= user.count_of_orders %> orders have been shipped to <%= user.state %></li>
      <% end %>
    </section>


    <section id="3-largest-orders">
      <h3>Largest Orders</h3>
      <% @three_largest_orders.each do |order| %>
        <li>Order <%= order.id %> with <%= order.total_count %> items sold</li>
      <% end %>
    </section>
  </section>

  <section class="index-list">
    <% @merchants.each do |merchant| %>
    <section class="merchant-card card shadowed-box" id="merchant-<%= merchant.id %>">
      <p><%= merchant.name %></p>
      <p>Located in <%= merchant.city %>, <%= merchant.state %></p>
      <p>Joined the store on <%= merchant.created_at %></p>
    </section>
    <% end %>
  </section>
</main>
