
<h1><%= @merchant.id %></h1>

<p>Name: <%= @merchant.name %></p>
<p>Street Address: <%= @merchant.street_address %></p>
<p>City: <%= @merchant.city %></p>
<p>State: <%= @merchant.state %></p>
<p>Zip Code: <%= @merchant.zip_code %></p>
<p>E-Mail: <%= @merchant.email %></p>
