<main class="home-index">
  <section>
    <h1>Welcome to Nooks and Crannies</h1>
    <p>This is a student project at Turing School of Software & Design</p>
    <p>The purpose of this project was to create a simple ecommerce website.</p>
    <p>The project was designed to test:</p>
      <ul>
        <li>Advanced Rails Routing</li>
        <li>Advanced ActiveRecord calls</li>
        <li>Session Management and POROs for cart management</li>
        <li>Authorization and Authentication</li>
      </ul>

    <h2>Project Description:</h2>
    <ul>
      <li>Back End Mod 2 at Turing School of Software & Design</li>
      <li>Project Team Members:</li>
        <li>William Peterson - GitHub: <%= link_to 'https://github.com/wipegup' %> </li>
        <li>Jon Peterson - GitHub: <%= link_to 'https://github.com/joequincy' %> </li>
        <li>Trevor Nodland - GitHub: <%= link_to 'https://github.com/tnodland' %> </li>
        <li>Vincent Provenzano - GitHub: <%= link_to 'https://github.com/Vjp888' %> </li>
        <li><%= link_to "Check out the code here", 'https://github.com/tnodland/little_shop_v2' %></li>
    </ul>
  </section>
</main>
