<div id=<%="cart-item-#{item.id}"%>>
  <div id=item-name><%=item.name%></div>
  <div id=item-merchant><%=item.user.name%></div>
  <div id=item-price><%=item.current_price%></div>
  <div id=item-quantity><%=quantity%></div>
  <div id=subtotal><%=quantity*item.current_price%></div>
</div>
