<div id=<%="cart-item-#{item.id}"%>>
  <div id=item-name>Item Name: <%=item.name%></div>
  <div id=item-merchant><%=item.user.name%></div>
  <div id=item-price><%=item.current_price%></div>
  <div id=item-quantity>
    <%= form_tag cart_path(item_id: item.id), method: :patch do %>
    <%=number_field_tag("quantity", value = quantity, min:0, max:item.quantity, step:1)%>
    <%= submit_tag "Update Quantity"%>
    <%end%>
    <%= button_to "Remove Item", cart_path(item_id: item.id, quantity:0), method: :patch %>
  </div>
  <div id=subtotal><%=(quantity*item.current_price).round(2)%></div>
</div>
