<main class="cart-page">
  <% if @items == {} %>
  Your cart is empty.
  <% else %>
    <section class="cart-table shadowed-box">
      <% @items.each do |item, quantity| %>
        <%= render 'cart_item', item:item, quantity:quantity %>
      <% end %>
    </section>
    <div id="cart-actions">Total: <%= number_to_currency(@total) %>
      <%= button_to "Empty Cart", cart_path, method: :delete %>
      <% if current_user %>
        <%= button_to "Check Out", orders_path %>
      <% else %>
        <span class="action-required">You must <%= link_to "register", register_path %> or <%= link_to "log in", login_path %> to check out</span>
      <% end %>
    </div>
  <% end %>
</main>
