<main class="cart-page">
  <% if @items == {} %>
  Your cart is empty.
  <% else %>
    <section class="cart-table shadowed-box">
      <% @items.each do |item, quantity| %>
        <%= render 'cart_item', item:item, quantity:quantity %>
      <% end %>
    </section>
    <div id=total><%= number_to_currency(@total) %><div>
      <%= button_to "Empty Cart", cart_path, method: :delete %>

    <div id=checkout>
      <% if current_user %>
        <%= button_to "Checkout", orders_path %>
      <% else %>
        You must register or log in to checkout
        <%= link_to "Log In", login_path %> <%= link_to "Register", register_path %>
      <% end %>
    </div>
  <% end %>
</main>
