<main class="item-index">
  <h1>All Items:</h1>

  <section class="item-stats">
    <ul id="most-popular-items">
      <h3>5 Most Popular Items: </h3>
      <% @top_5.each do |item| %>
        <li id="item"><%= item.name %>: <%= item.total_sold %> sold</li>
      <% end %>
    </ul>

    <ul id="least-popular-items">
      <h3>5 Least Popular Items: </h3>
      <% @bottom_5.each do |item| %>
        <li id="item"><%= item.name %>: <%= item.total_sold %> sold</li>
      <% end %>
    </ul>
  </section>

  <section class="index-list">
    <% @items.each do |item| %>
      <section class="item-card card shadowed-box" id="item-<%= item.id %>">
        <%= link_to item_path(item) do %>
          <h3><%= item.name %></h3>
          <%= image_tag "#{item.image_url}", size: "100x100" %>
        <% end %>
        <p>Sold by: <%= item.merchant_name %></p>
        <p>Number in stock: <%= item.quantity %></p>
        <p>Price: <%= number_to_currency(item.current_price) %></p>
      </section>
    <% end %>
  </section>
</main>
