<main class="item-show shadowed-box">
  <%= image_tag "#{@item.image_url}", size: "500x500" %>
  <section class="item-details">
    <h1><%= @item.name %></h1>
    <h3>Seller: <%= @item.user.name %></h3>
    <p><%= @item.description %></p>
    <p>Price: <%= number_to_currency(@item.current_price) %></p>
    <p>Number in stock: <%= @item.quantity %></p>
    <p>Average Processing Time: <%= @item.fullfillment_time %> Day(s)</p>
    <p><%= button_to "Add to Cart", carts_path(item_id: @item.id) %></p>
  </section>
</main>
