<h1>User: <%= @user.id %></h1>

<p>Name: <%= @user.name %></p>
<p>Street Address: <%= @user.street_address %></p>
<p>State: <%= @user.state %></p>
<p>City: <%= @user.city %></p>
<p>Zip Code: <%= @user.zip_code %></p>
<p>E-Mail: <%= @user.email %></p>
<%= link_to "Edit Profile", edit_profile_path %>
<%= link_to "Upgrade to Merchant", admin_upgrade_user_path(@user) %>
